.banner {
  width: 100%;
  padding-block: 2.5rem;
  overflow: hidden;
  display: flex;

  & .scroller {
    width: 100%;
    overflow: hidden;
    padding-block: 1rem;
  }

  & .rolling {
    padding-block: 0.5rem;
    display: flex;
    background-image: url(/assets/banner.svg);
    background-repeat: repeat-x;

    animation: rolling 2s linear infinite;
  }

  .bg-gradient-animate {
    background: linear-gradient(
      45deg,
      var(--snitap-sky-light),
      var(--snitap-joy-light)
    );

    background-size: 400%;
    background-position: 0 50%;

    animation: bg-gradient 20s ease infinite;
  }
}

@keyframes bg-gradient {
  50% {
    background-position: 100% 50%;
  }
}
@keyframes rolling {
  to {
    transform: translateX(-132px);
  }
}
